Hier ist ein Mardown, hier kann man schreiben. Es gibt auch Markdown Cheatsheet da kann man sich ansehen wie das functioniert: 
# Hash macht zB n Heading! 
#### mit mehreren Hashs wirds dann kleiner

- Python ist fantastisch 
- **fett** mit Stern 
- _unterstrich_ machts kursiv

In [1]:
import black
"5" + "5"

'55'

In [31]:
import sys # python runtime
import os  #operating system
sys.getsizeof(42)

32

In [34]:
42e10

420000000000.0

In [35]:
type(0.1)

float

In [38]:
round(0.1) + round(0.2) == round(0.3) # false weil nachkommastellen (float..)

True

In [43]:
round(0.4)

0

In [45]:
import math
math.isclose(0.1 + 0.2, 0.3)

True

In [46]:
math.isclose?

In [47]:
-1/12

-0.08333333333333333

In [49]:
product = "python"
attribute = "cool"
value = 42

## Formatted string python 2

In [50]:
msg = "%s is best described as %s and has a value of %d" % (product, attribute, value)
print(msg)

python is best described as cool and has a value of 42

## formatted string python 3

In [56]:
msg = f"{product} is best described as {attribute} and has a value of {value}" # the thing!
print(msg)

python is best described as cool and has a value of 42

In [53]:
msg = "{} is best described as {} and has a value of {}".format(product, attribute, value) #python 3.2
print(msg)

python is best described as cool and has a value of 42

## DOC strings

In [58]:
msg = "Pythin\nis very\ncool"
print(msg)

Pythin
is very
cool

In [59]:
msg = """ Python
is
very cool"""
print(msg)

 Python
is
very cool

In [61]:
"hello"[::-1]

'olleh'

In [63]:
sorted?

#### Pause bis halb 2

In [64]:
my_new_list = list("hello")

## for loop

In [66]:
for idx in range(len(my_new_list)):
    print(my_new_list[idx])

h
e
l
l
o

In [67]:
for el in my_new_list:
    print(el)

h
e
l
l
o

## list comprehension

In [68]:
my_new_list

['h', 'e', 'l', 'l', 'o']

### Transformation

##### standard for loop

In [70]:
result = []
for el in my_new_list:
    result.append(el.upper())
print(result)

['H', 'E', 'L', 'L', 'O']

In [71]:
result = [el.upper() for el in my_new_list]
print(result)

['H', 'E', 'L', 'L', 'O']

## filter

In [73]:
'a' in ['a', 'b', 'c']

True

In [75]:
[el for el in my_new_list if el in ['l', 'o']]

['l', 'l', 'o']

## Trafo + FIlter

In [76]:
[el.upper() for el in my_new_list if el in ['l', 'o']]

['L', 'L', 'O']

In [77]:
# excercise:

In [101]:
a = "we are beautiful people doing data science".split()

In [79]:
# 1. Gebe alle Woerter aus, die aus 4 oder mehr Buchstaben bestehen. Zeige diese in Grossbuchstaben an.
  2. Gib alle Woerter aus wenn diese au

In [91]:
print([el.upper() for el in a if len(a)>3])

['WE', 'ARE', 'BEAUTIFUL', 'PEOPLE', 'DOING', 'DATA', 'SCIENCE']

In [110]:
[ele.upper() if len(a)>=4 else ele for ele in a]

['WE', 'ARE', 'BEAUTIFUL', 'PEOPLE', 'DOING', 'DATA', 'SCIENCE']

In [104]:
print(a)

['we', 'are', 'beautiful', 'people', 'doing', 'data', 'science']

In [107]:
[ele.upper() if len(ele)>=4 else ele for ele in a]

['we', 'are', 'BEAUTIFUL', 'PEOPLE', 'DOING', 'DATA', 'SCIENCE']

In [3]:
# Exercise:

In [4]:
a = 42
b = 100

a, b = b, a

In [17]:
# Beispiele Tuple:
# A. Function Return Values

In [13]:
def hard_calculation(a_value):
    result = 42
    state = True
    return result, state  # da kommt ein tuple retour

In [14]:
hard_calculation(4)

(42, True)

In [15]:
res, _ = hard_calculation(4)
print(res, _)

42 True

In [16]:
print("hallo "*10)

hallo hallo hallo hallo hallo hallo hallo hallo hallo hallo

In [18]:
# B. Some useful functions

In [48]:
articles = ['handy_a',"handy_b", "smartwatch_a" ]
prices = [800, 400, 259]
weights = [100, 122, 55]

In [ ]:

list(enumerate(articles))
for idx, article in enumerate(articles):
    price = prices[idx]
    print(article, price)

In [27]:
# best

In [50]:
dicti = list(zip(articles, prices, weights))

In [32]:
print(dicti)

{'handy_a': 800, 'handy_b': 400, 'smartwatch_a': 259}

In [41]:
for item in dicti:
    print(dicti[item])

800
400
259

In [53]:
my_dict = {}

In [54]:
my_dict['Gunnar'] = 193
my_dict['John'] = 180
my_dict['Bob'] = 190

In [55]:
my_dict

{'Gunnar': 193, 'John': 180, 'Bob': 190}

## Iteration

In [56]:
my_dict.keys()

dict_keys(['Gunnar', 'John', 'Bob'])

In [58]:
my_dict.values()

dict_values([193, 180, 190])

In [59]:
total = 0 
for height in my_dict.values():
    total += height
round(total/len(my_dict),2)

187.67

In [60]:
my_dict.items()

dict_items([('Gunnar', 193), ('John', 180), ('Bob', 190)])

In [61]:
for k, v in my_dict.items():
    print(k,v)

Gunnar 193
John 180
Bob 190

## DICT comprehension

In [63]:
articles = ['handy_a', 'handy_b', 'smartwatch_a']
prices = [800,400,259]

{article:price for article, price in zip(articles, prices)}

{'handy_a': 800, 'handy_b': 400, 'smartwatch_a': 259}

In [71]:
import string
b = dict(enumerate(string.ascii_lowercase, start = 1))

In [72]:
b[19]

's'

In [77]:
d_2 = {char:pos for pos, char in b.items()}
d_2;

In [105]:
# dict exercise: 
#
sentence = "How much wood could a woodchuck chuck if a woodchuck could chuck wood".split()
#print(sentence)
# 1. Wie oft taucht ein jedes Wort in sentence auf? 
# 2. Gib das Ergebnis in absteigend sortierter Reihenfolge auf dem Bildschirm aus

di = {}
counter = 0
for word in sentence:
    if word in di: 
        di[word] +=1
    else: 
        di[word] = 1

print(di)

{'How': 1, 'much': 1, 'wood': 2, 'could': 2, 'a': 2, 'woodchuck': 2, 'chuck': 2, 'if': 1}

In [112]:
di_2 = {key: value for value,key in di.items()} # geht ned, da verliert man natürlich alles in der selben neuen klasse (1 und 2)

di_2
#sorted(di_2.items())

{1: 'if', 2: 'chuck'}

In [111]:
for count, word in sorted([(count, word) for word, count in di.items()], reverse=True):
        print(f"{word} tauch {count}-mal auf")

woodchuck tauch 2-mal auf
wood tauch 2-mal auf
could tauch 2-mal auf
chuck tauch 2-mal auf
a tauch 2-mal auf
much tauch 1-mal auf
if tauch 1-mal auf
How tauch 1-mal auf

In [115]:
sentence = "How much wood could a woodchuck chuck if a woodchuck could chuck wood".split()
from collections import Counter

Counter(sentence).most_common()

[('wood', 2),
 ('could', 2),
 ('a', 2),
 ('woodchuck', 2),
 ('chuck', 2),
 ('How', 1),
 ('much', 1),
 ('if', 1)]

In [2]:
def my_add(a,b,*args):
    res = a+b
    for arg in args: 
        res+= arg
    return res

In [3]:
print(my_add(3,5,6,7,9))

30

In [6]:
my_list = [("anna", 35), ("Armin", 40), ("bob", 19)]

In [9]:
#Iterable

#for el in my_list:      # standard
#    print(el)

list_iter = iter(my_list) # iteration
print(next(list_iter))
print(next(list_iter))
print(next(list_iter))

('anna', 35)
('Armin', 40)
('bob', 19)

In [10]:
sorted(my_list)

[('Armin', 40), ('anna', 35), ('bob', 19)]

In [14]:
def sort_tuple_el_by_2nd_el(a_tuple):
    return a_tuple[1]

In [18]:
sorted(my_list, key=sort_tuple_el_by_2nd_el) # funktion wird als parameter übergeben und die runden Klammern () werden nicht verwendet

[('bob', 19), ('anna', 35), ('Armin', 40)]

In [19]:
def apply_a_func_to_a_collection(a_collection, a_func):
    result = []
    for el in a_collection:
        result.append(a_func(el))
    return result

In [20]:
def times_two(a_value):
    return a_value * 2

In [22]:
my_collection = [1, 10, 100]
apply_a_func_to_a_collection(my_collection, times_two)

[2, 20, 200]

In [25]:
def cleanup(a_collection):
    return a_collection.strip()

In [27]:
my_coll = str(["Wien     ", "Inssb ruck", "         mai m     "])
cleanup(my_coll)

"['Wien     ', 'Inssb ruck', '         mai m     ']"

## Lambda functions

In [29]:
def foo_0():
    return 42

def foo_1(a):
    return 2* a

def foo_2(a,b):
    return a + b

In [39]:
#foo_0 als lambda:
l_0 = lambda : 42

# foo_1 als lambda:
l_1 = lambda a: 2 * a

#foo_2 als lambda: 

l_2 = lambda a, b: a+b

In [40]:
l_0()

42

In [41]:
l_1(21)

42

In [42]:
l_2(40,2)

42

In [45]:
sorted(my_list, key=lambda a_tuple: a_tuple[1])

[('bob', 19), ('anna', 35), ('Armin', 40)]

In [48]:
my_coll =(["Wien     ", "Inssb ruck", "         mai m     "])
list(map(lambda el: el.strip(), my_coll))

['Wien', 'Inssb ruck', 'mai m']

In [49]:
from functools import reduce

In [50]:
my_list = [1,2,3,4,5]
reduce?

In [52]:
reduce(lambda a,b: a+b , my_list) # summe über alle Zahlen

15

## Generators

In [53]:
range(10)

range(0, 10)

In [58]:
def countdown(start=100, down = 0, step=1):
    current = start
    while current >= down:
        yield current
        current -=step

In [59]:
for el in countdown(5):
    print(el)

5
4
3
2
1
0

## Generator-Expressions

In [61]:
[el**2 for el in range(10)] # list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
my_gen = (el**2 for el in range(10)) # mit runden klammern wirds eine generator expression
for el in my_gen:
    print(el)

0
1
4
9
16
25
36
49
64
81

### Files

In [66]:
open?

In [68]:
fobj = open("test.txt", "w")
fobj.write("Hello \nlovely \nPython!")
fobj.close()

In [ ]:
# %load test.txt
Hello 
lovely 
Python!

In [73]:
fobj = open("test.txt", "r")
for line in fobj:  # wenn ich 2 mal lesen will muss ich es nochmal aufmachen! (open!!)
    print(line)
fobj.close()

Hello

lovely

Python!

In [75]:
fobj = open("test.txt", "r")
sorted(fobj)

['Hello \n', 'Python!', 'lovely \n']

In [76]:
fobj.close()

In [77]:
fobj = open("test.txt", "r")
[line.strip().upper() for line in fobj]

['HELLO', 'LOVELY', 'PYTHON!']

In [78]:
fobj.close()

### context manager

In [80]:
with open("test.txt", "r") as fobj:
    print("i am live in a context")
    print([line.strip().upper() for line in fobj])

i am live in a context
['HELLO', 'LOVELY', 'PYTHON!']